---
layout: default
title: Projects
featured_image: /images/social.jpg
---

<div class="page-blog page-project">
	<header class="header--single">
		<div class="wrap">
			<h1 class="header__title">Our Work</h1>
		</div>
	</header>

	
		<div class="wrap">
	      <p>We help you navigate technological change and its implications for people, business, society and the world around us. We do this by combining deep expertise in emerging technology with proven strategy, design and innovation methods.</p>

	      <br>

			<p>We support organisations looking to incorporate emerging technology into their world. We do this by offering three core services:</p><br>


			<p><b>Strategy & Advisory:</b> we provide executive level advisory services to help you understand the fundamentals of technological change. In building this understanding, we define the exponential opportunities that are dawninge, while also communicating the threats inherent in a range of solutions.</p><br>
			 
			<p><b>Design research:</b> We combine deep expertise in established and emerging technology with proven design and research principles. This work engages our team of service designers, experience designers, technologists and product designers, and seeks to understand problems, navigate complexities, explore connections, and distil insights and wisdom to inform a range of tailored solutions.</p><br>
			 
			<p><b>Pilots & Solutions:</b> Our technology expertise allows us to develop and test ideas as pilots and proof-of-concepts. Through this piloting process we develop unique solutions in collaboration with our clients and community partners.</p><br>


	      <br>

			<div class="wrap">
				<blockquote class="small testimonial">
					<p>"TypeHuman has been with us as a technology partner every step of the way, contributing their considerable expertise in building and designing software using emerging tech like IPFS and Blockchain, as well as significant capability in business planning and project management."</p>
					<footer>Matt Riddle, <cite>CEO and Founder, Rocketshoes</cite></footer>
				</blockquote>	
			</div>

	      <hr>
	    </div>



	

	<section class="all-posts recent-projects-section">
		<div class="wrap grid">
			<header class="recent-posts__header">
				<h4>Selected Case Studies</h4>
			</header>
			<div class="posts__list grid">
				{% for post in site.projects %}
					{% include component__project-preview.html %}
				{% endfor %}
			</div>
		</div>
	</section>



	{% if paginator.total_pages > 1 %}

	<section class="pagination">
		<div class="wrap">
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | relative_url }}"
				class="button--text--accent --left pagination__prev">Newer Posts</a>
			{% endif %}
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | relative_url }}"
				class="button--text--accent --right pagination__next">Older Posts</a>
			{% endif %}
		</div>
	</section>

	{% endif %}
</div>