<header class="header--main">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-538XHJF');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146522794-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146522794-1');
</script>

	<div class="wrap grid__2-col">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<div class="menu__toggle js-menu-toggle">
			<div class="menu__toggle__icon"><span></span></div>
		</div>

		<nav class="header__menu">
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link button--text">{{ item.title }}</a>
					</li>
					{% endfor %}
					<li class="menu__cta">
						<a href="#" class="menu__cta__link button--text contact-trigger js-contact">Contact Us</a>
					</li>
				</ul>
			</div>
		</nav>

		<a href="#" class="header__cta button--fill contact-trigger js-contact">Contact Us</a>
	</div>

	<script src="https://static.leadpages.net/leadbars/current/embed.js" data-bar="FkbLADHoGYPpUwoZmifNNT" data-bar-domain="intvme.lpages.co" async defer></script>

</header>