<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/coding.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Nice to meet you!</h2>
      <p class="subtitle subtitle--light">We can help in different ways... 
      </p>

      <p>We offer a variety of different ways to  work with each other. Our goal is to first and foremost be your trusted advisor, as you navigate your technological options and the futures they may bring about.</p>
      <p>We’d love to learn about your company and see how we might help, feel free to send an email!</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>