<section class="about">
    <div class="wrap grid">
        <header class="recent-posts__header">
          <h4>HOW WE HELP?</h4>
          
        </header>
    </div>

    <div class="wrap">
      <p>We help you navigate technological change and its implications for people, business, society and the world around us. We do this by combining deep expertise in emerging technology with proven strategy, design and innovation methods.</p>

      <br>

      <p>We offer strategic advisory services and design and research consulting. We also develop cutting edge technology pilots and solutions.</p>
      
      <a href="{{ '/projects' | relative_url }}" class="action button--text--accent --right">Learn more</a>

    </div>

  <div class="wrap grid__3-col">

    <div class="about__content">
      <h5 class="title">STRATEGY & DESIGN</h5>

      <p>We offer a variety of different ways to  work with each other. Our goal is to first and foremost be your trusted advisor, as you navigate your technological options and the futures they may bring about.</p>
      
      <p>We’d love to learn about your company and see how we might help, feel free to send an email!</p>


    </div>

    <div class="about__content">
      <h5 class="title">TECHNOLOGY EXPERTS</h5>

      <p>We offer a variety of different ways to  work with each other. Our goal is to first and foremost be your trusted advisor, as you navigate your technological options and the futures they may bring about.</p>
      
      <p>We’d love to learn about your company and see how we might help, feel free to send an email!</p>


    </div>

  </div>


</section>