<section class="wrap partners">
      <header class="recent-posts__header">
        <h4 class="page__heading">Past & Present Clients, Partners, & Audiences</h4>
      </header>

      {% include post-components/gallery-basic.html
        columns = 6
        full_width = true
        images = "/images/partners/arc.jpg,/images/partners/flexdapps.jpg,/images/partners/oxfam.png,/images/partners/redr.jpeg,/images/partners/rmit.png,/images/partners/smallgiants.png,/images/partners/swinburne.png,
        /images/partners/ewba.jpeg,
        /images/partners/intersticia.png,
        /images/partners/skynews.jpeg,
        /images/partners/digitalid.png,
        /images/partners/icsc.png,
        /images/partners/ifrc.jpeg,
        /images/partners/rocketshoes.png,
        /images/partners/iccwbo.png,
        /images/partners/sempo.png,
        /images/partners/identityexpo.png,
        /images/partners/civicscience.png,
        /images/partners/digitary.png,"
      %}
</section>