<section class="about" style="padding-top:100px;">
    <div class="wrap grid">
        <header class="recent-posts__header">
          <h4 class="page__heading">Our Work</h4>
        </header>
    </div>

    <div class="wrap">
      <p>We help you navigate technological change and its implications for people, business, society and the world around us. We do this by combining deep expertise in emerging technology with proven strategy, design and innovation methods.</p>

      <br>

      <p>We offer strategic advisory services and design and research consulting.</p>
    </div>

  <div class="wrap grid" style="padding-top: 25px">

    <div>
      <h5 class="title page__heading">Strategy & Design</h5>

      <p>We provide executive level advisory services to help you understand the fundamentals of technological change. Our expert team of service designers, experience designers, technologists and product designers, seek to understand problems, navigate complexities, explore connections, and distil insights to inform tailored solutions.</p>


    </div>

    <div>
      <h5 class="title page__heading">Technology Experts</h5>

      <p>Our deep technology expertise allows us to actively develop pilots and proof-of-concepts. Through this piloting process we develop unique solutions in collaboration with our clients and community partners.</p>

    </div>
  </div>
  <div class="wrap grid page__home-learn-more">
    <div>

    </div>
    <div>
      <a href="{{ '/projects' | relative_url }}" class="action button--text--accent --right">Learn more</a>
    </div>
  </div>
</section>