<section class="about">
    <div class="wrap grid">
        <header class="recent-posts__header">
          <h3>How we help?</h3>
          <a href="{{ '/projects' | relative_url }}" class="action button--text--accent --right">Learn more</a>
        </header>
    </div>

  <div class="wrap grid__3-col">

    <div class="about__content">
      <h4 class="title">Innovation</h4>
      <p class="subtitle subtitle--light">Strategy & design capabilities.
      </p>

      <p>We offer a variety of different ways to  work with each other. Our goal is to first and foremost be your trusted advisor, as you navigate your technological options and the futures they may bring about.</p>
      
      <p>We’d love to learn about your company and see how we might help, feel free to send an email!</p>


    </div>

    <div class="about__content">
      <h4 class="title">Technology</h4>
      <p class="subtitle subtitle--light">Deep technology experience.
      </p>

      <p>We offer a variety of different ways to  work with each other. Our goal is to first and foremost be your trusted advisor, as you navigate your technological options and the futures they may bring about.</p>
      
      <p>We’d love to learn about your company and see how we might help, feel free to send an email!</p>


    </div>

  </div>
</section>