// - - - - - - - - - - - - - - - - - -

// Single project

// - - - - - - - - - - - - - - - - - -

.page-project {
  @extend .page-post;

  @include mq(tabletp) {
    .post__subtitle {
      margin-bottom: 0;
      max-width: 556px;
    }

    .post__title {
      margin-bottom: 20px;
    }
  }

  .header--single {
    padding-bottom: 40px;
  }

  .header--single .header__title {
    font-size: 32px;
    margin-bottom: 0;
  }

  .post__content {
    hr {
      background-color: var(--accent);
    }

    .content__inner {
      margin-bottom: 60px;
    }

    .project-results__heading {
      margin-top: 0;
    }

    img {
      float: left;
      margin-right: 30px;
    }

    .clearfix {
      clear: both;
    }

    blockquote {
      border-left-color: var(--accent);
    }

    table:not(.rouge-table) {
      border: 2px solid var(--accent);

      thead {
        background: var(--accent);
      }
    }

    .gallery--carousel .owl-dot.active::after {
      background: var(--accent);
    }
  }

  .all-posts {
    margin-top: 48px;

    .posts__list {
      grid-row-gap: 56px;
    }

  @include mq(tabletp) {
    .post__subtitle {
      margin-bottom: 80px;
    }
  }
}
