---
layout: default
---

{% if page.accent_color %}{% capture accent_color %}{{ page.accent_color }}{% endcapture %}{% endif %}

<div class="page-project" style="--accent: {{ accent_color }}">
	<header class="post__header header--single">
		<div class="wrap">
			<h1 class="post__title">{{ page.title }}</h1>
		</div>
	</header>
	<section class="post-full">
		<div class="wrap">
			<article class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				<div class="content__inner">
					{{ page.content }}
				</div>

				<img src="{{ page.featured_image }}" />

				<div class="project-results">
					<h3 class="project-results__heading">The Results</h3>
					<p>{{ page.project_results }}</p>
				</div>
			</article>
		</div>
	</section>
</div>